<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/style.css">
</head>

<body>
<div class="index-top">
	我的评论
</div>
<div class="split-line"></div>
<div class="container-fluid" id="comment">
	<ul>
		<li class="course-img"><img src="../images/detail_img/course1.png"></li>
		<li>
			<h1>PPP基金的全面解读及项目操盘攻略</h1>
			<p>庆幸自己选择来深圳学习，出发之前还很纠结，是不是在北京学习更方便后续的服务对接，
				也省去如此长途跋涉之苦。
				来了深圳后明白，经济特区并非浪得虚名，
				金融行业服务成熟且灵活、课程安排紧凑务实、老师们经验丰富乐于分享，
				晚餐时已与今天分享的老师安信证券张部长初步达成共识，期待回京后的深入沟通合作，感谢华扬精心安排的课程。</p>
		</li>
		<div class="c-row"></div>
	</ul>
	
</div>
<div class="split-line-sm"></div>
<div class="container-fluid" id="comment">
	<ul>
		<li class="course-img"><img src="../images/detail_img/course1.png"></li>
		<li>
			<h1>PPP基金的全面解读及项目操盘攻略</h1>
			<p>庆幸自己选择来深圳学习，出发之前还很纠结，是不是在北京学习更方便后续的服务对接，
				也省去如此长途跋涉之苦。
				来了深圳后明白，经济特区并非浪得虚名，
				金融行业服务成熟且灵活、课程安排紧凑务实、老师们经验丰富乐于分享，
				晚餐时已与今天分享的老师安信证券张部长初步达成共识，期待回京后的深入沟通合作，感谢华扬精心安排的课程。</p>
		</li>
		<div class="c-row"></div>
	</ul>
</div>
<div class="split-line-sm"></div>

<div class="container-fluid" id="comment">
	<ul>
		<li class="course-img"><img src="../images/detail_img/course1.png"></li>
		<li>
			<h1>PPP基金的全面解读及项目操盘攻略</h1>
			<p>庆幸自己选择来深圳学习，出发之前还很纠结，是不是在北京学习更方便后续的服务对接，
				也省去如此长途跋涉之苦。
				来了深圳后明白，经济特区并非浪得虚名，
				金融行业服务成熟且灵活、课程安排紧凑务实、老师们经验丰富乐于分享，
				晚餐时已与今天分享的老师安信证券张部长初步达成共识，期待回京后的深入沟通合作，感谢华扬精心安排的课程。</p>
		</li>
		<div class="c-row"></div>
	</ul>
</div>
<div class="split-line-sm"></div>
<div class="bottom-content">
	<img src="../images/detail_img/zj_logo.png">
</div>
</body>
</html>
