<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/style.css">
</head>


<body>
<div class="index-top">
	我的课程
</div>
<div class="split-line"></div>
<div class="container-fluid" id="course">
	<ul>
		<li class="enter">报名中</li>
		<li>
			<strong>PPP基金的全面解读及项目操盘攻略</strong>
			<br>【第67期】
		</li>
		<div class="c-row"></div>
	</ul>
</div>
<div class="split-line"></div>
<div class="container-fluid" id="course">
	<ul>
		<li class="end">已结束</li>
		<li>
			<strong>PPP基金的全面解读及项目操盘攻略</strong>
			<br>【第67期】
		</li>
		<div class="c-row"></div>
	</ul>
</div>
<div class="split-line"></div>

<div class="bottom-content">
	<img src="../images/detail_img/zj_logo.png">
</div>
</body>
</html>
