<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本-董秘</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/style.css">
</head>
<body style="background: #ededed;">
<div class="module-content container" id="courseEquire">
	<p>请您选择感兴趣的课题，如有相关学习、活动，我们将第一时间通知您。</p>
	<div class="selectCourse">
		<div class="piaochecked on_check">
            <input name="need_inv" type="checkbox" style="height:0.4rem;width:0.4rem;" value="1">
        </div>
		<ul class="courseInfor">
			<h1>股权激励方案设计</h1>
			<li>9大模块</li>
			<li>现场方案设计</li>
			<li>一对一个性诊断</li>
			<li>送一配套协议</li>
			<div class="c-row"></div>
		</ul>
		<div class="c-row"></div>
	</div>
	<div class="selectCourse">
		<div class="piaochecked on_check">
            <input name="need_inv" type="checkbox" style="height:0.4rem;width:0.4rem;" value="1">
        </div>
		<ul class="courseInfor">
			<h1>股权激励方案设计</h1>
			<li>9大模块</li>
			<li>现场方案设计</li>
			<li>一对一个性诊断</li>
			<li>送一配套协议</li>
			<div class="c-row"></div>
		</ul>
		<div class="c-row"></div>
	</div>
	<div class="selectCourse">
		<div class="piaochecked on_check">
            <input name="need_inv" type="checkbox" style="height:0.4rem;width:0.4rem;" value="1">
        </div>
		<ul class="courseInfor">
			<h1>股权激励方案设计</h1>
			<li>9大模块</li>
			<li>现场方案设计</li>
			<li>一对一个性诊断</li>
			<li>送一配套协议</li>
			<div class="c-row"></div>
		</ul>
		<div class="c-row"></div>
	</div>
	<div class="selectCourse">
		<div class="piaochecked on_check">
            <input name="need_inv" type="checkbox" style="height:0.4rem;width:0.4rem;" value="1">
        </div>
		<ul class="courseInfor">
			<h1>股权激励方案设计</h1>
			<li>9大模块</li>
			<li>现场方案设计</li>
			<li>一对一个性诊断</li>
			<li>送一配套协议</li>
			<div class="c-row"></div>
		</ul>
		<div class="c-row"></div>
	</div>
	<div class="selectCourse">
		<div class="piaochecked on_check">
            <input name="need_inv" type="checkbox" style="height:0.4rem;width:0.4rem;" value="1">
        </div>
		<ul class="courseInfor">
			<h1>股权激励方案设计</h1>
			<li>9大模块</li>
			<li>现场方案设计</li>
			<li>一对一个性诊断</li>
			<li>送一配套协议</li>
			<div class="c-row"></div>
		</ul>
		<div class="c-row"></div>
	</div>
	
	<div class="textarea">
		<h2>非必填选项</h2>
		<textarea maxlength="200" cols="20" rows="10" placeholder="0/200" >	
		</textarea>
	</div>
	<div class="textarea" style="margin-top: 0.2rem;">
		<h2>非必填选项</h2>
		<textarea maxlength="200" cols="20" rows="10" placeholder="0/200" >
		</textarea>
	</div>
</div>
<a href="">
	<span class="submitequire">提交需求</span>
</a>
<div class="zhezhao" style="display: none;">
	<div class="sub_zhezhao">
		<img src="../images/detail_img/true.png" class="true">
		<p>
			已收到您的需求，
			<br>您可在“华扬资本”公众号菜单查询。
		</p>
		<div class="close">关闭</div>
	</div>
</div>
<script>
	$(function(){
		$(".close").click(function(){
			$(".zhezhao").css("display","none")
		})
	})
</script>
</body>
</html>
