<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本-董秘</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">
<link rel="stylesheet" href="../styles/newfile.css">
</head>
<body>
<div class="top-row">
	<img src="../images/detail_img/lbtn.png">
	<h1>课程报名</h1>
</div>
<div class="module-content container">
	<div class="logoRed-box">
		<div class="logoRed"><img src="../images/detail_img/logo-red.jpg"></div>
		<div class="logo-right">
			<div class="courseTop">
				<span>众筹中</span>
				<span>第18期</span>
			</div>
			<div class="c-row"></div>
				<h1>课程名：【股权激励方案设计】</h1>
		</div>
		<div class="c-row"></div>
		<div class="students_num">历届学员：396人</div>
	</div>
</div>
<div class="big-line"></div>
<div class="module-content container">
	<div class="courseInfor">
		<div><input type="radio" name="radio"></div>
		<div>第18期</div>
		<div>深圳</div>
		<div>10月15-17日</div>
	</div>
</div>
<div class="line"></div>
<div class="module-content container">
    <div class="course-dist">
        <div>
            <figure>
                <h2>￥2900</h2>
                <figcaption>共享最低价</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <h2>￥12000</h2>
                <figcaption>当前学费</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <h2>已约人数</h2>
                <figcaption>13人</figcaption>
            </figure>

        </div>
        <div>
			<canvas id="test" width="50" height="50"></canvas>
        </div>
    </div>
    <script src="../scripts/fn.js"></script>
    <script>
		createCricle('test', 20, 40,24,2,0.24);
	</script>
</div>
<div class="big-line" style="margin-top: 0.3rem;"></div>
<div class="module-content container">
	<div class="courseInfor">
		<div><input type="radio" name="radio"></div>
		<div>第18期</div>
		<div>深圳</div>
		<div>10月15-17日</div>
	</div>
</div>
<div class="line"></div>
<div class="module-content container">
    <div class="course-dist">
        <div>
            <figure>
                <h2>￥2900</h2>
                <figcaption>共享最低价</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <h2>￥12000</h2>
                <figcaption>当前学费</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <h2>已约人数</h2>
                <figcaption>13人</figcaption>
            </figure>

        </div>
        <div>
			<canvas id="test_one" width="50" height="50"></canvas>
        </div>
    </div>
    <script src="../scripts/fn.js"></script>
    <script>
		createCricle('test_one', 20, 40,24,2,0.24);
	</script>
</div>


<div class="foot_fixed">
	<div>已选：深圳</div>
	<div>预约金：￥500/人</div>
	<div>
		<a href="">
			<input type="button" value="参与众筹">
		</a>
	</div>
</div>
</body>
</html>
