<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本-董秘</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/index.css">
<link rel="stylesheet" href="../styles/detail.css">
<link rel="stylesheet" href="../styles/newfile.css">
</head>
<body>
<div class="top-row">
	<img src="../images/detail_img/lbtn.png">
	<h1>我的留言</h1>
</div>
<div class="module-content container">
	<div class="logoRed-box">
		<div class="logoRed"><img src="../images/detail_img/logo-red.jpg"></div>
		<div class="logo-right">
			<div class="courseTop">
				<span>众筹中</span>
				<span>第18期</span>
			</div>
			<div class="c-row"></div>
				<h1>课程名：【股权激励方案设计】</h1>
		</div>
		<div class="c-row"></div>
	</div>
</div>
<div class="big-line"></div>
<div class="module-content container">
	<textarea class="leaveword" rows="10" maxlength="200">
	</textarea>
</div>
<a href="">
	<span class="submiteInfor">提交需求</span>
</a>



</body>
</html>
