<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/style.css">
</head>

<body>
<div class="pay-title">
	<span>￥<strong>500</strong>.00</span>
	<p>预约金</p>
</div>
<div class="care">
	注意：课程达到起班人数，众筹成功后补缴余款。
众筹失败则直接退回预约金，没有开班风险。
</div>
<div class="bgcText" style="background: #ededed;" >
	确认支付方式
</div>
<div class="bgcText">
	<img src="../images/detail_img/pay2.png" class="payImg">
	<div class="payText">
		<h1>微信支付</h1>
		<p>适用于经常适用微信的同学</p>
	</div>
	<input type="radio" name="checkbox1"/>
	<div class="c-row"></div>
</div>
<!--<div class="bgcText">
	<img src="../images/detail_img/pay1.png" class="payImg">
	<div class="payText">
		<h1>支付宝支付</h1>
		<p>适用于经常适用微信的同学</p>
	</div>
	<input type="radio" name="checkbox1"/>
	<div class="c-row"></div>
</div>-->

<button class="submit">确认支付</button>




</body>
</html>
