<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/style.css">
</head>

<body>
<div class="pay_sucess">
	<img src="../images/detail_img/true.png" class="trueImg">
	<p>
		恭喜您已成功支付预约金
	</p>
	<p class="share">
		<img src="../images/detail_img/share.png">
		点击分享本课
	</p>
	<img src="../images/detail_img/weChartImg.png" class="weImg">
	<p>扫码添加班主任，进入班级学习群</p>
</div>

<div class="pay_foot_fixed">
	<a href="#">
		<span>更多课程</span>
	</a>
	<a href="#">
		<span class="current">再次预约</span>
	</a>
</div>
</body>
</html>
