<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>华扬资本</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="http://code.jquery.com/jquery.js"> </script>
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/newfile.css">
</head>

<body>
<div class="personal-box">
	<figure>
		<figcaption><img src="../images/detail_img/personal_img.png"></figcaption>
		<p>郭富城</p>
	</figure>
</div>
<div class="big-line"></div>
<div class="require">课堂</div>
<div class="big-line"></div>
<div class="require">【情况一】您暂无课程订单</div>
<div class="big-line"></div>
<div class="require">【情况二】您11月12日的课程已预约成功</div>
<div class="big-line"></div>
<div class="require">【情况三】您11月12日的课程已学习完成【情况三】您11月12日的课程已学习完成【情况三】您11月12日的课程已学习完成【情况三】您11月12日的课程已学习完成</div>
<div class="big-line"></div>




<!--固定底部-->
<div id="footer_nav">
    <div class="col-1">
        <a href="">
            <figure>
                <img src="../images/detail_img/footIcon1.png" alt="" />
                <p>资本干货</p>
            </figure>
        </a>
    </div>
   <div class="col-1">
        <a href="">
            <figure>
                <img src="../images/detail_img/footIcon2.png" alt="" />
                <p>近期课程</p>
            </figure>
        </a>
    </div>
    <div class="col-1">
        <a href="">
            <figure>
                <img src="../images/detail_img/footIcon3.png" alt="" />
                <p>课程需求</p>
            </figure>
        </a>
    </div>
    <div class="col-1">
        <a href="">
            <figure>
                <img src="../images/detail_img/footIcon4.png" alt="" />
                <p>个人中心</p>
            </figure>
        </a>
    </div>
</div>
</body>
</html>
