<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>众筹介绍</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no" />
<script src="../scripts/flexible.js"></script>
<link rel="stylesheet" href="../styles/common.css">
<link rel="stylesheet" href="../styles/zcplay.css">
</head>
<body>
<div class="container-fluid" id="zcplay">
	<div class="module-content container">
		<div>
			<header>
				<h1>众筹课程介绍</h1>
			</header>
			<figure>
				<p>
					资鲸众筹课程是华扬资本学院旗下精品线下培训平台。
					以“短期实战”、“干货大咖”、“高性价比”为特点，涵盖资本运营、商业模式、文化战略、经营管理等企业高层管理者一系列必修课程。
				</p>
			</figure>
			
			<figure style="margin-top: 0.3rem;">
				<figcaption>什么是众筹课程？</figcaption>
				<p>
					<br>众筹是一种新型的互联网式的线下课程学习方式，旨在通过这种方式降低学习成本，监督授课实效，传播课程口碑。
					<br>众筹课程的总成本是固定的，参与的同学人数越多，人均学习费用越低。
					<br>例：课程总成本100000元，20人参与，学费为5000元/人=100000元÷20人；
					<br>如果封班人数达到40人，则学费快速降低，最低可达到2500元/人=100000元÷40人，
				</p>
			</figure>
			<span class="mid-text">参与人数越多，学费越低！</span>
			<figure>
				<figcaption style="margin-bottom: 0.3rem;">
					众等课程的两大好处：
				</figcaption>
				<p>
					1．同学们推荐、筛选最实战的资本课程，让培训告别纸上谈兵，告别鸡汤误人，不浪费宝贵时间；
					<br>2．互联网众等方式，直接AA学习实战资本课程，降低学习成本，不花冤枉钱。
				</p>
			</figure>
			<figure>
				<figcaption style="margin: 0.3rem auto;">
					众筹课程须知：
				</figcaption>
				<p>
				 	1．小班实战，实操导师陪练，20人起班；
	     			<br>2．预约方式缴费，达到起班人数，众筹成功后补缴余款。众筹失败则直接退回预约金，没有开班风险；
					<br><strong> 3．支付预约金299元之后，直接添加本期课程班主任微信，并保持联系畅通，班主任会及时与您联系，沟通后续事宜。</strong>
				</p>
			</figure>
		</div>
	</div>
</div>
</body>
</html>
