

.module {
	padding-bottom: .6rem;
}


.module>header>h1.pa-bot {
	padding-top: .64rem;
	padding-bottom: .9rem;
	text-align: center;
	font-size: .42rem;
}


#obligation .container>div {
	padding: .4rem 0 .3rem .4rem;
	display: flex;
	display: -webkit-flex;
	border-top:1px solid #ccc ;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#obligation .container>div.row3 {
	border-bottom: 1px solid #ccc;
}
#obligation .container>div>.left {
	flex-basis: 3.2rem;
	-webkit-flex-basis: 3.2rem;
} 

#obligation .container>div .left img {
	width: 2.26rem;
	height: 2.26rem;
}

#obligation .container>div>.right h1 {
	font-size: .32rem;
	color: #313131;
	font-weight: bold;
	margin-bottom: .25rem;
} 
#obligation .container>div>.right h2 {
	font-size: .26rem;
	font-weight: bold;
	color: #666;
	line-height: .26rem;
	margin-bottom: .06rem;
}


#obligation .container>div>.right ul li {
	color: #666;
	font-weight: normal;
	font-size: .26rem;
}


/*优秀董秘必备综合能力*/
#capacity {
	background: transparent url("../images/secretary/icons/repeart.jpg") 0 0 repeat;
}

#capacity .container>div {
	display: flex;
	display: -webkit-flex;

}
#capacity .container>div>div {
	flex: 1 1 50%;
	-webkit-flex: 1 1 50%;
	margin-bottom: .2rem;
}

#capacity .container>div>div.col-1 {
	padding-right: .12rem;
}

#capacity .container>div>div.col-2 {
	padding-left: .12rem;
}


#capacity .container>div>div figure {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	background: #fff;
	padding: .3rem .2rem;
}

#capacity .container>div>div figure img {
	display: block;
	width: 1.3rem;
	height: 1.3rem;
	margin: 0 auto;

}

#capacity .container>div>div figure figcaption {
	color: #ff5256;
	font-size: .32rem;
	font-weight: bold;
	margin-top: .34rem;
	margin-bottom: .3rem;
	letter-spacing: -.01rem;
}
#capacity .container>div>div figure p {
	font-size: .24rem;
	line-height: .36rem;
	color: #313131;
}

/*优秀董秘必备综合能力 end*/

/*董事会秘书实务操作研修班*/

#operation {
	background: #f2f2f2;
}

#operation .module-content>div.border-top {
	border-top: 6px solid #ff5256;
	background: #fff;
}


#operation .module-content>div>header>h1 {
	font-size: .36rem;
	font-weight: normal;
	color: #313131;
	text-align: center;
	padding-top: .64rem;
	padding-bottom: .2rem;
}

#operation .module-content>div>header>h2 {
	font-size: .28rem;
	font-weight: normal;
	color: #282828;
	text-align: center;
	margin-bottom: .9rem;
}
#operation .module-content>div .sub-content {
	padding: 0 .3rem 0.1rem;
}

#operation .module-content>div .sub-content h1.bor-left {
	border-left: 6px solid #ff5256;
	font-size: .28rem;
	font-weight: bold;
	color: #313131;
	padding-left: .1rem;
	margin-bottom: .3rem;
}
#operation .module-content>div .sub-content h1.bor-left.pad-top {
	margin-top: .6rem;
} 

#operation .module-content>div .sub-content table tbody tr>td {
	padding: .2rem .2rem .2rem .24rem!important;
}

#operation .module-content>div .sub-content table tbody tr>td header {
	min-height: .72rem;
	position: relative;
 	margin-bottom: .26rem;
}
#operation .module-content>div .sub-content table tbody tr>td header:before {
 	content: "";
 	display: block;
 	height: .72rem;
 	width: 4px;
 	background: #ff5256;
 	position: absolute;
 	left: -.24rem;
 	top: 0;	

}
#operation .module-content>div .sub-content table tbody tr>td header h1 {
	font-size: .26rem;
	font-weight: bold;
	color: #ff5256;
	line-height: .36rem;

}

#operation .module-content>div .sub-content table tbody tr>td ul li {
	color: #313131;
	font-size: .24rem;
	position: relative;
	padding-left: .24rem;
	
}

#operation .module-content>div .sub-content table tbody tr>td ul li span.number {
	position: absolute;
	left: 0;
	top: 0;
}

#operation .module-content>div .sub-content .scheme {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	border: 1px solid #ddd;
	border-top: none;
	padding: 0 .3rem;
}

#operation .module-content>div .sub-content .scheme>h1 {
	font-size: .26rem;
	font-weight: bold;
	color: #ff5256;
	text-align: center;
	padding:.3rem 0 ;
}

#operation .module-content>div .sub-content .scheme figure figcaption {
	color: #666;
	font-size: .24rem;
	font-weight: normal;
	padding: .2rem 0 .3rem;
	text-align: center;
}
#operation .module-content>div .sub-content .panel-wrap {
	padding-bottom: .2rem;
	margin-bottom: .6rem;
}

#operation .module-content>div .sub-content .panel-wrap>h1 {
	font-size: .28rem;
	font-weight: bold;
	color: #313131;
	border-left: 4px solid #ff5256;
	padding-left: .1rem;
	margin-top: .6rem;
	margin-bottom: .3rem;
}

#operation .module-content>div .sub-content .panel-wrap .panel {
	height: 2.9rem;
	box-shadow: 0 6px 6px #e8e8e8;
	margin-bottom: .3rem;
}
#operation .module-content>div .sub-content .panel-wrap .panel .panel-heading {
	text-align: center;
	font-size: .28rem;
	font-weight: bold;
	background: #fd7045;
	color: #fff;
	height: .6rem;
	line-height: .6rem;
}

#operation .module-content>div .sub-content .panel-wrap .panel .panel-body {
	padding: .5rem .2rem 0 .3rem;
	height: 2.3rem;
	border: 1px solid #ddd;
	border-top: none;
}
#operation .module-content>div .sub-content .panel-wrap .panel .panel-body ul li{
	line-height: .36rem;
	height: .36rem;
	color: #313131;
	font-size: .28rem;
}

#operation .module-content>div.sub-module2 .sub-content>div>h1.bor-left {
	color: #313131;
	font-size: .28rem;
	font-weight: bold;
	height: .32rem;
	line-height: .32rem;
	border-left: 6px solid #ff5256;
	padding-left: .1rem;
	margin-bottom: .3rem;
}

#operation .module-content>div.sub-module2 .sub-content>div>h1.bor-left.pa-top {
	margin-top: .6rem;
}

#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div {
	border: 1px solid #ddd;
	height: 2.5rem;
	padding: .3rem .3rem 0 .3rem;
}
#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div:last-child {
	border-top: none;
}

#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div h1 {
	font-size: .26rem;
	font-weight: bold;
	font-weight: bold;
	color: #ff5256;
	margin-bottom: .24rem;
}
#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div p {
	font-size: .26rem;
	color: #313131;
	position: relative;
}
#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div p.num-wrap {
	padding-left: .24rem;
}


#operation .module-content>div.sub-module2 .sub-content .row1 .wrap>div p span.number {
	position: absolute;
	left: 0;
	top: 0;
}

#operation .module-content>div.sub-module2 .sub-content .row2 .wrap {
	border: 1px solid #ddd;
	height: 2rem;
	padding-top: .3rem;
	padding-left: .3rem;
}

#operation .module-content>div.sub-module2 .sub-content .row2 .wrap ul li {
	font-size: .26rem;
	height: .36rem;
}

#operation .module-content>div.sub-module2 .sub-content .row3 h1 {
	color: #ff5256;
	font-weight: bold;
	font-size: .24rem;
	margin-bottom: .2rem;
}

#operation .module-content>div.sub-module2 .sub-content>div>h1 {
	color: #313131;
	font-size: .28rem;
	font-weight: bold;
	margin: .2rem 0;
}

#operation .module-content>div.sub-module2 .sub-content>div>p {
	color: #666;
	font-size: .24rem;
	margin-bottom: .4rem;
	line-height: .36rem;
}

#operation .module-content>div.sub-module2 .sub-content>div>h2 {
	font-size: .24rem;
	font-weight: bold;
	padding: .2rem 0;
}




/*董事会秘书实务操作研修班 end*/

/*2017中国董秘俱乐部年会专题报道*/
#club {
	background: #f2f2f2;
}

#club>header>h1 {
	letter-spacing: -.01rem;
}

#club .container{
	background: #fff;
	width: 6.9rem;
	padding: 0 .3rem;
}

#club .module-content>.bor-left {
	font-size: .28rem;
	font-weight: bold;
	color: #313131;
	padding-left: .1rem;
	border-left: 4px solid #ff5256;
	margin-bottom: .3rem;
}
#club .module-content>div.video-wrap {
	width: 6.3rem;
	height: 3.0rem;
	margin-bottom: .3rem;
}

#club .module-content>div.forum-theme {
	border: 1px solid #ddd;
	min-height: 3.0rem;
	padding: .3rem 0 .3rem .3rem;
}
#club .module-content>div.forum-theme-2 {
	border-top: none;
}


#club .module-content>div.forum-theme h1,
#club .module-content>div.forum-theme h2 {
	font-size: .24rem;
	line-height: .24rem;
	color: #666;
	font-weight: bold;
	margin-bottom: .1rem;
}
#club .module-content>div.forum-theme ul li {
	color: #666;	
	font-size: .24rem;
	line-height: .36rem;
}



/*2017中国董秘俱乐部年会专题报道 end*/



#server {
	background: #f2f2f2;
}

#server .container {
	width: 6.9rem;
	background: #fff;
	padding: 0 .3rem;
}
#server header.container {
	padding-bottom: .01rem;
}

#server .module-content h1.bor-left {
	border-left: 4px solid #ff5256;
	padding-left: .1rem;
	font-size: .28rem;
	color: #313131;
	font-weight: bold;
	margin-bottom: .3rem;
}

#server .module-content .table-bordered {
	margin-bottom: .6rem;
}

#server .module-content .table-bordered thead tr th {
	color: #fff!important;
	font-weight: bold!important;
}

#server .module-content .table-bordered thead tr th,
#server .module-content .table-bordered tbody tr td{
	width: 1.7rem;
	height: 1.42rem;
	text-align: left;
	padding: 0 .2rem;
	font-size: .24rem;
	color: #666;
}

#server .module-content .table-bordered thead tr th.col-1,
#server .module-content .table-bordered tbody tr td.col1{
	width: 1.2rem;
	text-align: center;
}
#server .module-content .table-bordered thead tr th {
	background: #ff5256;
	border-right: 1px solid #fff;
	border-top: 1px solid #ff5256;
}
#server .module-content .table-bordered thead tr th:first-child {
	border-left: 1px solid #ff5256;
}
#server .module-content .table-bordered thead tr th:last-child {
	border-right: 1px solid #ff5256;
}

#server .module-content .table-bordered tbody tr.row-2 {
	height: 5.0rem;
	
}

#server .module-content .coach-wrap {
	display: flex;
	display: -webkit-flex;
	flex-direction:column;
}
#server .module-content .coach-wrap-2 {
	padding-bottom: .3rem;
}


#server .module-content .coach-wrap p {
	width: 4.94rem;
	height: .6rem;
	text-align: center;
	color: #fff;
	font-size: .26rem;
	line-height: .6rem;
	margin:0 auto .2rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius:4px;
	background: #fd7045;
}
/*往期学员评价*/
#students_evaluation {
	background: #f2f2f2;
}

#students_evaluation header>h1 {
	padding-top: 0;
}

#students_evaluation .module-content {
	display: flex;
	display: -webkit-flex;
}

#students_evaluation .module-content>div.img-wrap {
	flex-basis: 4.3rem;
	-webkit-flex-basis: 4.3rem;
	overflow: hidden;
	position: relative;
}

#students_evaluation .module-content>div.left-arrow,
#students_evaluation .module-content>div.right-arrow {
	flex-basis: 1.3rem;
	-webkit-flex-basis: 1.3rem;
	position: relative;
}

#students_evaluation .module-content>div>img {
	display: block;
	width: .46rem;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

#students_evaluation .module-content>div.left-arrow>img {
	margin-left: .26rem;
}
#students_evaluation .module-content>div.right-arrow>img {
	margin-left: .4rem;
}

#students_evaluation .module-content>div.img-wrap ul {
	width: 17.2rem;
	min-height: 4.0rem;
	position: relative;
}
#students_evaluation .module-content>div.img-wrap ul li {
	width: 4.3rem;
	min-height: 4.0rem;
	float: left;
}

/*往期学员评价 end*/


#web_footer .container .row-1 {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	padding-top: .6rem;
}

#web_footer .container .row-1 figure{
	-webkit-flex-basis: 2.3rem;
	flex-basis: 2.3rem;
}
#web_footer .container .row-1 figure figcaption {
	color: #fff;
    font-size: .24rem;
    line-height: .24rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    text-align: center;
}


