#zcplay{
	padding-bottom: 0.6rem;
}

#zcplay header h1{
	text-align: center;
	margin: 0.3rem auto;
	font-weight: bold;
}

#zcplay figure figcaption{
	font-size: 0.28rem;
	font-weight: bold;
}

#zcplay figure p{
	font-size: 0.28rem;
	line-height: 0.48rem;
	/*margin: 0.3rem auto;*/
}

.mid-text{
	text-align: center;
	font-size: 0.28rem;
	margin: 0.3rem auto;
	display: block;
	font-weight: bold;
	color: #ff5256;
}

#zcplay  figure p strong{
	font-size: 0.28rem;
	color: #ff5256;
}
